.coworker {

    &__container {
        background: white;
        height: 800px;
        border-radius: 5px;
    }

    &__title {
        color: $color-tertiary;
        padding: 1rem 1.5rem 1rem 1rem;
        background: $color-secondary;
        font-size: 1.1rem;
        border-radius: 5px;
    }

    &__content {
        display: flex;
        gap: 1rem;
        margin: 1rem;
        color: $color-tertiary;
        font-size: 0.9rem;
    }
}