section {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
}
.publish {

    &__container {

        position: sticky;
        background: $color-secondary;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1.2rem;
        border-radius: 5px;
        gap: 1rem;

        button {
            color: $color-tertiary;
            background: white;
            padding: 0.5rem 1rem;
            border-radius: 5px;
            transition: $transition;

            &:hover {
                color: $color-secondary;
                background: $color-tertiary;
                transform: scale(1.1);
            }
        }
    }

    &__img {
        font-size: 2rem;
        color: $color-tertiary;
        border: 1px solid transparent;
        background: white;
        border-radius: 20px;
    }

    &__content {

        display: flex;
        align-items: center;
        gap: 0.6rem;

        &-text {
            width: 400px;
            height: 30px;
            padding-left: 0.4rem;

            &::placeholder {
                color: $color-tertiary;
                font-size: 1rem;
            }
        }

        &-file {

            transition: $transition;

            &--input {
                position: absolute;
                top: 32%;
                width: 20px;
                right: 18%;
                opacity: 0;
            }

            &--camera {
                color: $color-secondary;
                font-size: 2rem;
                border: 1px solid transparent;
                background: $color-tertiary;
                border-radius: 20px;
                padding: 0 2px;
                transition: $transition;
            }

            &:hover {
                .publish__content-file--camera {
                    color: $color-tertiary;
                    background: $color-secondary;
                    border: $color-tertiary;
                }
            }
        }
    }
}