@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap");
* {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  display: none;
}

body {
  background: #4e5166;
  color: white;
}

h2,
h3,
h4,
h5 {
  font-weight: 500;
}

a {
  color: white;
}

img {
  object-fit: cover;
}

.btn {
  background: #ffd7d7;
  border-radius: 5px;
}

button,
input {
  cursor: pointer;
}

section {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

.publish__container {
  position: sticky;
  background: #ffd7d7;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.2rem;
  border-radius: 5px;
  gap: 1rem;
}
.publish__container button {
  color: #4e5166;
  background: white;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  transition: all 400ms ease;
}
.publish__container button:hover {
  color: #ffd7d7;
  background: #4e5166;
  transform: scale(1.1);
}
.publish__img {
  font-size: 2rem;
  color: #4e5166;
  border: 1px solid transparent;
  background: white;
  border-radius: 20px;
}
.publish__content {
  display: flex;
  align-items: center;
  gap: 0.6rem;
}
.publish__content-text {
  width: 400px;
  height: 30px;
  padding-left: 0.4rem;
}
.publish__content-text::placeholder {
  color: #4e5166;
  font-size: 1rem;
}
.publish__content-file {
  transition: all 400ms ease;
}
.publish__content-file--input {
  position: absolute;
  top: 32%;
  width: 20px;
  right: 18%;
  opacity: 0;
}
.publish__content-file--camera {
  color: #ffd7d7;
  font-size: 2rem;
  border: 1px solid transparent;
  background: #4e5166;
  border-radius: 20px;
  padding: 0 2px;
  transition: all 400ms ease;
}
.publish__content-file:hover .publish__content-file--camera {
  color: #4e5166;
  background: #ffd7d7;
  border: #4e5166;
}

.coworker__container {
  background: white;
  height: 800px;
  border-radius: 5px;
}
.coworker__title {
  color: #4e5166;
  padding: 1rem 1.5rem 1rem 1rem;
  background: #ffd7d7;
  font-size: 1.1rem;
  border-radius: 5px 5px 0 0;
}
.coworker__content {
  display: flex;
  gap: 1rem;
  margin: 1rem;
  color: #4e5166;
  font-size: 0.9rem;
}

.chat {
  display: flex;
  flex-direction: column;
}
.chat__container {
  background: white;
  height: 800px;
  width: 100%;
  border-radius: 5px 5px 0 0;
}
.chat__header {
  display: flex;
  align-items: center;
  background: #ffd7d7;
  gap: 0.5rem;
  padding: 1rem 1.5rem 1rem 1rem;
  border-radius: 5px 5px 0 0;
}
.chat__header h2 {
  font-size: 1.1rem;
  color: #4e5166;
}
.chat__header-icon {
  color: #4e5166;
}
.chat__content {
  display: flex;
  flex-direction: column;
  margin: 1rem 0.5rem;
}
.chat__content-id {
  display: flex;
  gap: 0.5rem;
}
.chat__content-id--icon {
  color: #4e5166;
}
.chat__content-id h3 {
  color: #4e5166;
}
.chat__content-text p {
  color: black;
  font-size: 0.8rem;
}
.chat__new {
  background: white;
  border-radius: 0 0 5px 5px;
  height: 1.5rem;
  padding-left: 1rem;
}
.chat__new input::placeholder {
  color: #4e5166;
  opacity: 0.5;
}

.publication {
  display: flex;
  flex-direction: column;
}
.publication__container {
  background: white;
  border-radius: 5px;
  padding: 1rem;
  margin-bottom: 2rem;
  position: sticky;
}
.publication__options {
  position: absolute;
  top: 30px;
  right: 30px;
  background: transparent;
}
.publication__author {
  margin: 1rem;
  display: flex;
  gap: 2rem;
  align-items: center;
}
.publication__author-img {
  color: #ffd7d7;
  font-size: 2rem;
  background: #4e5166;
  border-radius: 20px;
  padding: 2px;
}
.publication__author-text h2 {
  font-size: 1rem;
  color: #4e5166;
  font-weight: normal;
}
.publication__author-text p {
  color: #4e5166;
  font-size: 0.7rem;
}
.publication__content {
  display: flex;
  flex-direction: column;
}
.publication__content p {
  color: black;
  margin: 1rem;
}
.publication__content img {
  object-fit: contain;
  width: 100%;
  max-height: 300px;
}
.publication__reaction {
  display: flex;
  justify-content: space-between;
  padding: 0 1rem;
}
.publication__reaction-like, .publication__reaction-comment {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  color: #4e5166;
  margin-top: 1rem;
  background: white;
  transition: all 400ms ease;
  border: 1px solid transparent;
  padding: 0.5rem;
}
.publication__reaction-like-icon, .publication__reaction-comment-icon {
  font-size: 1.2rem;
}
.publication__reaction-like h3, .publication__reaction-comment h3 {
  font-size: 1.2rem;
}
.publication__reaction-like:hover {
  color: #fd2d01;
  border-color: #fd2d01;
}
.publication__reaction-comment:hover {
  color: #ffd7d7;
  border-color: #ffd7d7;
  background: #4e5166;
}

header {
  background: #ffd7d7;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1rem;
}

.header__img {
  width: 200px;
}
.header__img img {
  width: 100%;
  text-align: center;
}
.header__nav {
  display: flex;
  justify-content: space-around;
  width: 50%;
  align-items: center;
}
.header__nav-home, .header__nav-profile {
  color: #4e5166;
  font-size: 1.2rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.header__nav-home a, .header__nav-profile a {
  color: #4e5166;
  font-size: 1.2rem;
}
.header__search {
  display: flex;
  gap: 1rem;
}
.header__search input {
  height: 20px;
  width: 200px;
  border-radius: 5px;
  padding: 0.3rem;
}
.header__search input::placeholder {
  color: #4e5166;
  opacity: 0.5;
}
.header__search-loop {
  font-size: 1.3rem;
  color: #4e5166;
  transition: all 400ms ease;
}
.header__search-loop:hover {
  transform: scale(1.2);
}

.signup__exit {
  color: black;
  position: absolute;
  top: 10%;
  right: 5%;
  background: transparent;
}
.signup__container {
  position: static;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid white;
  margin: 1rem;
  padding: 1rem;
  background: white;
}
.signup__title, .signup__subtitle {
  color: #4e5166;
}
.signup__form {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  margin: 1rem;
}
.signup__form input {
  padding: 0.7rem;
  border: 1px solid #4e5166;
  border-radius: 5px;
}
.signup__form input::placeholder {
  color: #4e5166;
  opacity: 0.5;
}
.signup__form div {
  width: 100%;
}
.signup__identity {
  display: flex;
  gap: 1rem;
}
.signup__identity input {
  border-radius: 5px;
}
.signup__identity-surname {
  width: 100%;
}
.signup__mail {
  width: 100%;
}
.signup__mail input {
  border-radius: 5px;
}
.signup__mail-input {
  width: 100%;
}
.signup__password {
  display: flex;
  align-items: center;
}
.signup__password-container {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}
.signup__submit {
  width: 100%;
}
.signup__submit-input {
  color: white;
  font-weight: bold;
  background: #fd2d01;
  width: 100%;
  border-radius: 5px;
  transition: all 400ms ease;
}
.signup__submit-input:hover {
  border-color: #fd2d01;
  background: transparent;
  color: #fd2d01;
}

.update {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  background: #ffd7d7;
}
.update__container {
  background: white;
  margin: 1rem;
}
.update__visual {
  display: flex;
  flex-direction: column;
}
.update__visual-cover {
  margin: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}
.update__visual-cover-content {
  width: 300px;
}
.update__visual-cover-content img {
  width: 100%;
  border-radius: 20px;
}
.update__visual-cover-title {
  color: #4e5166;
  font-weight: normal;
  font-size: 1rem;
}
.update__visual-cover-icon {
  font-size: 20px;
  color: #4e5166;
  border: 1px solid transparent;
  border-radius: 20px;
  transition: all 400ms ease;
}
.update__visual-cover-icon:hover {
  border-color: #fd2d01;
  color: #fd2d01;
  transform: scale(1.2);
}
.update__visual-photo {
  margin: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  border-radius: 20px;
  overflow: hidden;
  padding-bottom: 1rem;
}
.update__visual-photo img {
  width: 100px;
  height: 100px;
  border-radius: 100%;
  border: 3px solid #4e5166;
}
.update__visual-photo-title {
  color: #4e5166;
  font-weight: normal;
  font-size: 1rem;
}
.update__visual-photo-icon {
  font-size: 20px;
  color: #4e5166;
  border: 1px solid transparent;
  border-radius: 20px;
  transition: all 400ms ease;
}
.update__visual-photo-icon:hover {
  border-color: #fd2d01;
  color: #fd2d01;
  transform: scale(1.2);
}
.update__infos {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.update__infos input {
  padding: 0.7rem;
  border-radius: 5px;
}
.update__infos input::placeholder {
  color: #4e5166;
  opacity: 0.5;
}
.update__infos-identity {
  display: flex;
  gap: 1rem;
}
.update__infos-bio {
  width: 100%;
}
.update__infos-bio textarea {
  border-radius: 5px;
  width: 100%;
  text-align: initial;
  resize: none;
  padding: 0.5rem;
}
.update__infos-bio textarea::placeholder {
  opacity: 0.5;
  color: #4e5166;
}
.update__buttons {
  display: flex;
  gap: 1rem;
  padding: 1rem;
}
.update__buttons-submit, .update__buttons-cancel {
  padding: 1rem;
  border-radius: 5px;
}
.update__buttons-submit {
  color: white;
  background: green;
  border: 1px solid transparent;
  transition: all 400ms ease;
}
.update__buttons-submit:hover {
  border-color: green;
  color: green;
  background: transparent;
}
.update__buttons-cancel {
  background: transparent;
  color: #fd2d01;
  transition: all 400ms ease;
  border: 1px solid #fd2d01;
}
.update__buttons-cancel:hover {
  background: #fd2d01;
  color: white;
}

.home {
  display: grid;
  grid-template-columns: 15% 50% 15%;
  gap: 10%;
  padding: 1rem;
}

.login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: white;
  height: 100vh;
  gap: 1rem;
}
.login__title {
  color: #4e5166;
  font-size: 1.2rem;
  font-weight: normal;
}
.login__section {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  background: #ffd7d7;
  height: 300px;
  width: 300px;
  border-radius: 5px;
  padding: 0.7rem;
}
.login__section a {
  color: #4e5166;
  font-size: 0.9rem;
  transition: all 400ms ease;
}
.login__section a:hover {
  color: #fd2d01;
}
.login__form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
}
.login__form input {
  padding: 0.7rem;
  width: 100%;
  border-radius: 5px;
}
.login__form input::placeholder {
  padding: 0.2rem;
  color: #4e5166;
  opacity: 0.5;
}
.login__password {
  display: flex;
  align-items: center;
}
.login__password input {
  border-radius: 5px 0 0;
}
.login__password-icon {
  background: white;
  color: #4e5166;
  height: 100%;
  font-size: 1.2rem;
  border-radius: 0 5px 5px 0;
}
.login__signup {
  width: 100%;
}
.login__signup-btn {
  width: 100%;
  padding: 0.7rem;
  background: #4e5166;
  color: white;
  border-radius: 5px;
  border: 1px solid transparent;
  transition: all 400ms ease;
}
.login__signup-btn:hover {
  background: #ffd7d7;
  color: #4e5166;
  border-color: #4e5166;
}
.login__signup-show {
  width: 800px;
  height: 800px;
  position: absolute;
  bottom: 0%;
}

#connect {
  background: #fd2d01;
  color: white;
  transition: all 400ms ease;
  border: 1px solid transparent;
}
#connect:hover {
  background: #ffd7d7;
  color: #fd2d01;
  border-color: #fd2d01;
}

.profile__container {
  padding: 0 2rem;
  display: flex;
  flex-direction: column;
}
.profile__cover {
  width: 100%;
  border-radius: 5px;
  z-index: 0;
}
.profile__cover img {
  width: 100%;
  border-radius: 5px;
  min-height: 400px;
  max-height: 500px;
}
.profile__infos {
  display: flex;
  justify-content: space-between;
}
.profile__infos-visual {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-top: -1rem;
  padding-left: 1rem;
  margin-bottom: 1rem;
}
.profile__infos-img {
  border-radius: 20px;
  overflow: hidden;
  z-index: 1;
}
.profile__infos-img img {
  width: 100px;
  height: 100px;
  border-radius: 100%;
  border: 1px solid black;
}
.profile__infos-text {
  color: white;
}
.profile__infos-text h1 {
  font-weight: normal;
  font-size: 1.8rem;
}
.profile__infos--modification {
  margin-top: 1rem;
}
.profile__infos--modification button {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
  border-radius: 5px;
  border: 1px solid #fd2d01;
  transition: all 400ms ease;
  color: #fd2d01;
  background: transparent;
}
.profile__infos--modification button p {
  font-size: 1rem;
}
.profile__infos--modification button:hover {
  color: #4e5166;
  background: white;
  border-color: transparent;
}
.profile__publications {
  background: #ffd7d7;
  padding: 1rem;
}

.loading {
  text-align: center;
  font-size: 100px;
}

.error {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.error__title {
  color: #ffd7d7;
}

/*# sourceMappingURL=index.css.map */
